<footer class="bg-greige py-4 px-8">
  <%# 3 content blocks %>
  <div class="grid grid-cols-1 lg:grid-cols-3 justify-around py-2 px-1 gap-8 lg:py-5 lg:px-8 lg:gap-8">

    <%# 1st block %>
    <div class="flex flex-col mt-4 text-center lg:items-center lg:text-start">
        <ul>
          <li><h4 class="text-3xl text-brown font-bold">Adresse</h4></li>
          <span class="text-xl text-white">
            <li class="mt-3">23 rue des Champignons</li>
            <li>FR-73000 Chambéry</li>
            <li>Téléphone : 04 50 53 12 34</li>
            <li><%= link_to "Contact", contact_path, class: "underline hover:font-bold text-white" %></li>
          </span>
        </ul>
    </div>

    <%# 2d block %>
    <div class="flex flex-col items-center text-center text-zinc-950 ">
      <%= image_tag 'logo.png', class: 'w-36' %>
      <span class="text-3xl text-white font-DancingScript font-extrabold">Quai Antique</span>
      <h4 class="capitalize text-xl font-bold mt-2">Restaurant d'alpage gastronomique</h4>
      <h4 class="hidden sm:block">Des saveurs authentiques et raffinées pour émerveiller vos sens</h4>
      <br>
    </div>

    <%# 3rd block %>
    <div class="flex flex-col mt-4 lg:items-center">
      <h4 class="text-brown text-3xl font-bold text-brown font-bold text-center lg:text-start">Horaires d'ouverture</h4>
      <p class="mt-3 text-xl font-bold text-white text-center lg:text-start">Du mardi au dimanche inclus</p>

      <%# Shedules table %>
      <table class="table mx-auto text-xl mt-1">
        <tbody class="font-weight-normal text-white">

        <tr class="flex flex-col items-center text-center sm:flex-row">
          <td class="sm:pr-8">MIDI</td>
          <td><%= Schedule.last&.lunch_starts_at&.to_s(:time) %>
            - <%= Schedule.last&.lunch_ends_at&.to_s(:time) %></td>
        </tr>
        <tr class="flex flex-col items-center text-center sm:flex-row">
          <td class="sm:pr-8">SOIR</td>
          <td><%= Schedule.last&.dinner_starts_at&.to_s(:time) %>
            - <%= Schedule.last&.dinner_ends_at&.to_s(:time) %> </td>
        </tr>

        </tbody>
      </table>

    </div>

  </div>

  <%# Separating line %>
  <div class="flex flex-col items-center w-full mt-6">
    <div class="w-[50vw] h-[1px] bg-whitegray"/>
  </div>

<%# Copyright %>
  <div class="text-center py-2">
    Copyright &copy; Quai Antique - Site fictif
  </div>

</footer>