<header class="relative w-screen h-[80vh] flex flex-col justify-center items-center overflow-hidden">
  <%= video_tag "intro_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: 'home_video brightness-75' %>

<div class="pb-40 flex flex-col items-center">
  <h1 class="h1 font-DancingScript text-whitegray font-extrabold ">Quai Antique</h1>
  <%= link_to image_tag('etoile-michelin.png', {class: 'w-[8rem]'}), root_path, class: 'mt-4' %>
  <h2 class="font-Prompt text-whitegray mt-6">Une expérience gastronomique unique<br>au coeur d'un havre de paix savoyard.</h2>
  <a href="#" class="mt-8 mb-2 rounded-lg px-3 py-3 bg-gray-100 font-bold bg-whitegray text-brown hover:bg-slate hover:text-white transition duration-500 ease-in-out ">
    Réserver 🔥</a>


</div>
</header>


<%# Carousel bestoff %>
<section class="relative flex flex-col py-20">
  <h2 class="font-Prompt text-brown font-medium">Nos clients adorent ❤️</h2>
  <p class="mt-3 mb-8 font-Moul tracking-widest text-brown font-medium">Le bestoff</p>


  <%= render partial: 'menus/bestoff_carousel', locals: { bestoff_items: @bestoff_items } %>

</section>





<%# Chief section, image order 1 in mobile first, order 2 in large screen %>
<section class="p-20 background-image flex flex-col lg:flex-row lg:gap-10">

  <div class="order-2 px-10 pb-16 pt-10 w-full text-center md:py-32 lg:w-1/2 lg:order-1">

    <h2 class="font-extrabold text-gray-800 text-2xl sm:text-3xl md:text-5xl ">
      <span class="block">TITRE</span>
      <span class="block text-blue-800">TITRE 2</span>
    </h2>
    <p class="mt-3 text-md mx-auto text-gray-800 max-w-xs sm:text-xl md:mt-5 md:max-w-md">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, impedit.
    </p>


  </div>



  <!--Image en order 1 en mobile first-->
  <div class="order-1 w-full overflow-hidden border rounded-md lg:static lg:w-1/2 lg:h-full lg:order-2">
    <%= link_to image_tag('chief.png'), root_path, class: "w-full h-full object-cover object-center lg:w-1/2" %>
  </div>

</section>



<%# Food philosophy and team section , image order 1 in mobile first, order 2 in large screen %>

<section class="p-20 flex flex-col lg:flex-row lg:gap-10">

  <div class="order-1 px-10 pb-16 pt-10 w-full text-center md:py-32 lg:w-1/2 lg:order-2">

    <h2 class="font-extrabold text-gray-800 text-2xl sm:text-3xl md:text-5xl ">
      <span class="block">TITRE</span>
      <span class="block text-blue-800">TITRE 2</span>
    </h2>
    <p class="mt-3 text-md mx-auto text-gray-800 max-w-xs sm:text-xl md:mt-5 md:max-w-md">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, impedit.
    </p>


  </div>


  <!--Image en order 1 en mobile first-->
  <div class="order-2 w-full overflow-hidden border rounded-md lg:static lg:w-1/2 lg:h-full lg:order-1">
    <%= link_to image_tag('chief.png'), root_path, class: "w-full h-full object-cover object-center lg:w-1/2" %>
  </div>

</section>


<hr class="mx-20 bg-whitegray">

<%# Restaurant section, image order 1 in mobile first, order 2 in large screen %>

<section class="p-20 flex flex-col lg:flex-row lg:gap-10">

  <div class="order-2 px-10 pb-16 pt-10 w-full text-center md:py-32 lg:w-1/2 lg:order-1">

    <h2 class="font-extrabold text-gray-800 text-2xl sm:text-3xl md:text-5xl ">
      <span class="block">TITRE</span>
      <span class="block text-blue-800">TITRE 2</span>
    </h2>
    <p class="mt-3 text-md mx-auto text-gray-800 max-w-xs sm:text-xl md:mt-5 md:max-w-md">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, impedit.
    </p>


  </div>


  <!--Image en order 1 en mobile first-->
  <div class="order-1 w-full overflow-hidden border rounded-md lg:static lg:w-1/2 lg:h-full lg:order-2">
    <%= link_to image_tag('restaurant.png'), root_path, class: "w-full h-full object-cover object-center lg:w-1/2" %>
  </div>

</section>




