<h1 class="pb-6">Notre carte</h1>
<div class="menu-card-button grid grid-cols-3 md:grid-cols-5 gap-10 justify-center">
  <%= link_to 'Toute la carte', '/menus' %>
  <%= link_to 'Entrées', '/menus?category=Entrée' %>
  <%= link_to 'Plats', '/menus?category=Plat' %>
  <%= link_to 'Desserts', '/menus?category=Dessert' %>
  <%= link_to 'Menus', '/menus?menu_only=true' %>
</div>

<%# Search Bar %>
<div class="search">
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.text_field :query, placeholder: 'Tapez votre recherche ici' %>
  <%= form.submit "Rechercher" %>
<% end %>
</div>

<% if @menus_only %>
  <%# Display only menus = formulas %>
  <div class="grid grid-cols-2 gap-6">
    <% @menus.each do |menu| %>
      <%= link_to "/menus/#{menu.id}" do %>
        <%= render partial: 'menu', locals: { menu: menu, show_details: false } %>
      <% end %>
    <% end %>
    <hr>
  </div>
<% else %>

  <%# If we do not choose starters, main courses or desserts %>
  <% if !params[:category] %>
    <%# Alors affichage Menus %>
    <div class="grid grid-cols-2 gap-6">
      <% @menus.each do |menu| %>
        <%= link_to "/menus/#{menu.id}" do %>
          <%= render partial: 'menu', locals: { menu: menu, show_details: false } %>
        <% end %>
      <% end %>
      <hr>
    </div>
  <% end %>


<%# With main courses only %>
  <div class="grid grid-cols-3 gap-6">
    <% @dishes.each do |dish| %>
      <%= link_to "/dishes/#{dish.id}" do %>
        <%= render partial: 'dishes/dish', locals: { dish: dish, show_details: false } %>
      <% end %>
    <% end %>
  </div>

<% end %>


