<%# SEO %>
<% content_for :meta_tags do %>
  <meta name="description" content="La carte du restaurant incluant les menus">
<% end %>

<% content_for :title do %>
  Carte
<% end %>


<h1 id="typewriterEffect" class="py-12 font-DancingScript text-6xl">Notre carte</h1>

<div class="menu-card-buttons grid grid-cols-2 justify-center gap-10 sm:grid-cols-3 md:grid-cols-4 md:items-center lg:flex lg:flex-row lg:gap-12 xl:gap-20 2xl:gap-24 ">
  <%= link_to 'Toute la carte', '/menus' %>
  <%= link_to 'Entrées', '/menus?category=Entrée' %>
  <%= link_to 'Plats', '/menus?category=Plat' %>
  <%= link_to 'Desserts', '/menus?category=Dessert' %>
  <%= link_to 'Menus', '/menus?menu_only=true' %>
</div>

<%# Search Bar %>
<div class="search flex justify-center">
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.text_field :query, placeholder: 'Tapez votre recherche ici' %>
  <%= form.submit "Rechercher" %>
<% end %>
</div>



<% if @menus_only %>
  <%# Display only menus = formulas %>
  <div class="grid grid-cols-2 gap-6 mb-4">
    <% @menus.each do |menu| %>
      <%= link_to "/menus/#{menu.id}" do %>
        <%= render partial: 'menu', locals: { menu: menu, show_details: false } %>
      <% end %>
    <% end %>
    <hr>
  </div>
<% else %>

  <%# If we do not choose dishes : starters, main courses or desserts %>
  <% if !params[:category] %>
    <%# Then display the menus = formulas %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 md:gap-12 px-6">
      <% @menus.each do |menu| %>
        <%= link_to "/menus/#{menu.id}" do %>
          <%= render partial: 'menu', locals: { menu: menu, show_details: false } %>
        <% end %>
      <% end %>

    </div>
  <% end %>


<%# ...With all dishes = starters, main courses, desserts %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-3 pb-12">
    <% @dishes.each do |dish| %>
      <%= link_to "/dishes/#{dish.id}" do %>
        <%= render partial: 'dishes/dish', locals: { dish: dish, show_details: false } %>
      <% end %>
    <% end %>
  </div>

<% end %>


