<h1 class="pt-12">Votre profil</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-8">
    <%= f.label :firstname %><br/>
    <%= f.text_field :firstname, required: true, autocomplete: "firstname", pattern: "^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br/>
    <%= f.text_field :lastname, required: true, autocomplete: "lastname", pattern: "^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" %>
  </div>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, required: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :people_number %><br/>
    <%= f.text_field :people_number, required: true, autocomplete: "number", type: 'number' %>
  </div>

  <div class="field">
    <%= f.label :allergy %><br/>
    <%= f.text_field :allergy, autocomplete: "text" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", minlength: 8, class:'!mb-0' %>
    <p class="mb-2 break-words text-left text-whitegray font-bold">Le mot de passe doit avoir une longueur de 8 à 12 caractères</p>
  </div>

  <div class="field mt-4">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><i class="text-left text-red-500 font-bold">(Saisissez votre mot de passe actuel pour confirmer les changements)</i><br/>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('global.forms.registrations.edit.submit') %>
  </div>
<% end %>



<div><%= button_to t('global.forms.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:'underline' %></div>

<%= link_to t('global.forms.registrations.edit.back'), :back, class:'underline pb-12' %>