<div id="devise">

  <h1 id="typewriterEffect">Inscription</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-4">
      <%= f.label :firstname %><br/>
      <%= f.text_field :firstname, required: true, autocomplete: "firstname", pattern: "^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" %>
    </div>

    <div class="field">
      <%= f.label :lastname %><br/>
      <%= f.text_field :lastname, required: true, autocomplete: "lastname", pattern: "^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" %>
    </div>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, required: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label 'People number by default' %><br/>
      <%= f.text_field :people_number, required: true, autocomplete: "number", type: 'number' %>
    </div>

    <div class="field">
      <%= f.label :allergy %><br/>
      <%= f.text_field :allergy, autocomplete: "text" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", required: true, minlength: 8, class:'!mb-0' %>
      <p class="mb-2 break-word text-left text-brown">Le mot de passe doit avoir une longueur de 8 à 12 caractères</p>
    </div>

    <div class="field mt-4">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit t('global.forms.registrations.new.submit') %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>



<script type="text/javascript" charset="utf-8">

    // h1 Typewriter effect
    let messageArray = ["Inscription"];
    let textPosition = 0;
    const speed = 100;

    function typewriter() {
        document.querySelector("#typewriterEffect").
          innerHTML = messageArray[0].substring(0, textPosition) + '<span>I</span>'; /* substring function will make the typewriter effect and span will make the blinker effect */

        if(textPosition++ != messageArray[0].length)
            setTimeout(typewriter, speed) /* Call function until the end of the sentence */
    }

    window.addEventListener("load", typewriter);

</script>
