<%= form_with(model: reservation, class: "contents") do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, required: true, pattern: "/^\+?[0-9]{10,50}$/", type: 'tel', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


  <div class="my-5">
    <%= form.label :people_number %>
    <%= form.number_field :people_number, id: 'people', oninput: 'onChange(event)', required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%= label_tag :date, 'Sélectionner une date' %>
  <%= date_field_tag :date, reservation.slot ? reservation.slot.date : @date, onchange: 'onChange(event)', id: 'date', class:'!mb-1' %>



  <%= render partial: 'slots' %>



  <div class="my-5">
    <%= form.label :allergy %>
    <%= form.text_field :allergy, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>



<%# Turbo script for the date refresh %>
<script type="text/javascript" charset="utf-8">
    function onChange(event) {
        const people_el = document.getElementById('people')
        const date_el = document.getElementById('date')
        // On récupère le champs
        const people = people_el.value
        const date = date_el.value
        // On envoie la valeur au serveur
        fetch('/reservations/refresh_date?date=' + date + '&people_number=' + people)
            .then(res => res.text())
            .then(html => Turbo.renderStreamMessage(html))
        // On remplace avec la nouvelle valeur
    }


    <%# Alert message script when the phone number is not typed correctly %>
    const phone_number = document.getElementById('reservation_phone_number')

    let el
    phone_number.addEventListener('input', (e) => {
        const value = e.target.value
        if (!value.match(/^\+?[0-9]{10,50}$/)) {
            if (el) return

            e.target.style.marginBottom = 0
            e.target.classList.add('bg-red-100')
            el = document.createElement('p')
            el.innerText = "Merci de saisir au minimum 10 chiffres. L'indicatif avec + est optionnel."
            el.classList.add('text-red-500', 'text-left')
            console.log('element', e.target)
            console.log('parent', e.target.parentElement)
            e.target.parentElement.appendChild(el)
        } else {
            if (!el) return

            e.target.classList.remove('bg-red-100')
            el.remove()
            el = null
        }
    })
</script>





