<div class="flex flex-col shadow rounded-xl overflow-hidden">
  <% if dish.illustration.attached? %>
    <%= image_tag url_for(dish.illustration), class: 'h-[250px] self-stretch bg-cover' %>
  <% end %>

  <div class="p-4">
    <p class="mt-4 font-bold text-2xl"><%= dish.title %>
      <% if dish.bestoff? %>
        <span>⭐</span>
      <% end %>
    </p>
    <p class="mt-4 font-bold text"><%= dish.subtitle %></p>
    <p class="mt-4 text self-end"><%= dish.price %></p>
  </div>

  <% if show_details === true %>
    <%= dish.description %>
  <% end %>
</div>