<div class="mx-auto py-12">

  <h1 id="typewriterEffect" class="mb-5">Prendre contact</h1>

<%= form_with(url: contact_path) do |f| %>
  <div class="field mt-4">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message, autofocus: true, autocomplete: "text", class:'w-full' %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer" %>
  </div>
<% end %>

</div>




<script type="text/javascript" charset="utf-8">

    // h1 Typewriter effect
    let messageArray = ["Prendre contact"];
    let textPosition = 0;
    const speed = 100;

    function typewriter() {
        document.querySelector("#typewriterEffect").
            innerHTML = messageArray[0].substring(0, textPosition) + '<span>I</span>'; /* substring function will make the typewriter effect and span will make the blinker effect */

        if(textPosition++ != messageArray[0].length)
            setTimeout(typewriter, speed) /* Call function untill the end of the sentence */
    }

    window.addEventListener("load", typewriter);

</script>