<!DOCTYPE html>
<html>
<head>
  <title>QuaiAntique</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Moul&family=Prompt:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
  <!-- Tailwind CDN -->
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<main class="flex flex-col justify-between h-[100vh]">


  <nav class="relative w-full text-white flex justify-between bg-greige py-5 px-8 shadow [&>div]:grid [&>div]:grid-flow-col [&>div]:gap-36 [&>div]:px-16 [&>div]:items-center">
    <div>
      <%= link_to "Carte", menus_path, class: 'hidden tabnav lg:block' %>
      <%= link_to "Reserver", new_reservation_path, class: "tabnav" %>
    </div>

    <div>
      <%= link_to "Contact", contact_path, class: 'hidden tabnav lg:block' %>
      <%= render partial: 'layouts/menu_button' %>
    </div>

    <%= link_to image_tag('logo.png'), root_path, class: "w-20 absolute left-1/2 translate-x-[-50%]" %>
  </nav>

  <div class="container mx-auto my-16 px-5 flex flex-col ">
    <!-- Flash notices -->
    <p class="notice bg-green-300"><%= notice %></p>
    <p class="alert bg-red-300"><%= alert %></p>

    <%= yield %>
  </div>

  <%= render 'static_pages/footer' %>
</main>
</body>
</html>
